<%- include('header') %> 
<main class="app-main">
    <!-- Begin: App Content Header -->
    <div class="app-content-header py-3 bg-light border-bottom">
        <!-- Begin: Container -->
        <div class="container-fluid">
            <!-- Begin: Row -->
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="mb-0 text-primary">General Form</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Home</a></li>
                        <li class="breadcrumb-item active text-muted" aria-current="page">General Form</li>
                    </ol>
                </div>
            </div>
            <!-- End: Row -->
        </div>
        <!-- End: Container -->
    </div>
    <!-- End: App Content Header -->

    <!-- Begin: App Content -->
    <div class="app-content">
        <!-- Begin: Container -->
        <div class="container-fluid">
            <!-- Begin: Row -->
            <div class="row g-4">
                <!-- Begin: Col -->
                <div class="col-12">
                    <div class="callout callout-info">
                        For detailed documentation of Form visit
                        <a
                            href="https://getbootstrap.com/docs/5.3/forms/overview/"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="callout-link"
                        >
                            Bootstrap Form
                        </a>
                    </div>
                </div>
                <!-- End: Col -->

                <!-- Begin: Col -->
                <div class="col-md-6">
                    <!-- Begin: Quick Example -->
                    <div class="card card-primary card-outline mb-4 shadow-sm">
                        <!-- Begin: Header -->
                        <div class="card-header ">
                            <h5 class="card-title mb-0">Quick Example</h5>
                        </div>
                        <!-- End: Header -->

                        <!-- Begin: Form -->
                        <div class="card-body">
                            <form action="/insertBlogs" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="blogCategory" class="form-label">Blog Category:</label>
                                    <select name="blogCategoryid" id="blogCategory" class="form-select">
                                        <option>--select category--</option>
                                        <% categorydata.map((v, i) => { %>
                                            <option value="<%= v.id %>"><%= v.categoryname %></option>
                                        <% }) %>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="blogTitle" class="form-label">Blog Title:</label>
                                    <input type="text" name="blogTitle" id="blogTitle" class="form-control" />
                                </div>
                                 
                                <div class="mb-3">
                                    <label for="blogDescription" class="form-label">Blog Description:</label>
                                    <textarea
                                        name="blogDescription"
                                        id="blogDescription"
                                        rows="5"
                                        class="form-control"
                                    ></textarea>
                                </div>
                                  
                                <div class="mb-3">
                                    <label for="blogImage" class="form-label">Blog Image:</label>
                                    <input type="file" name="blogImage" id="blogImage" class="form-control" />
                                </div>
                             
                                    <button type="submit" class="btn btn-primary">Submit</button>
                            
                            </form>
                        </div>
                        <!-- End: Form -->
                    </div>
                    <!-- End: Quick Example -->
                </div>
                <!-- End: Col -->
            </div>
            <!-- End: Row -->
        </div>
        <!-- End: Container -->
    </div>
    <!-- End: App Content -->
</main>
<%- include('footer') %>
<script src="https://cdn.tiny.cloud/1/k1c5nasb1xhle8mpx6p4eunmxjjq1780banwuch3gxm0n76z/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: [
        // Core editing features
        'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
        // Your account includes a free trial of TinyMCE premium features
        // Try the most popular premium features until Feb 5, 2025:
        'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
      ],
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
    });
  </script>